footer {
	background-color:#ebebeb;
	height: 30%;
  color: white;
  padding: 15px;
}

.main1 { 
  display:flex;
  margin:0 auto;
}

a img:hover {
    color: #fff;
}

.fondo {
    background-color:#ffffff;
}
